@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@500;700&display=swap');

* {
    font-family: 'M PLUS Rounded 1c', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    text-align: center;
    background-color: antiquewhite;

}

#interface {

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    color: white;
    background-color: rgb(145, 99, 99);
    padding: 1em;
}

#color-picker {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#color-viewer {
    background-color: white;
    width: 9em;
    height: 3em;
    border-radius: 1em;
    
}

form {
    margin: 1em;
}

#rgb-color {

    font-size: large;


}


input[type="text"] {

    background-color: #fbfdef;
    border-radius: 1em;
    font-weight: bold;
    color: #69584a;
    padding: 0.5em;
    border: 0ch;
    font-size: large;
    width: 60%;

}

input[type="submit"] {

    background-color: rgb(28, 149, 165);
    border-radius: 1em;
    font-weight: bold;
    color: white;
    padding: 0.5em;
    border: 0ch;
    font-size: large;

}


#color-result {
    /*width: fit-content;*/
    text-align: left;
    font-size: large;
}