@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@500;700&display=swap');

* {
    font-family: 'M PLUS Rounded 1c', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    text-align: center;
    background-color: antiquewhite;

}

#interface {

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    color: white;
    background-color: rgb(145, 99, 99);
    padding: 1em;
}

#color-result {
    /*width: fit-content;*/
    text-align: left;
    font-size: large;
}