@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@500;700&display=swap');

* {
    font-family: 'M PLUS Rounded 1c', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    text-align: center;
    background-color: #f0ecd6;

}

#interface {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

/* Contains the circle with the text input*/
#color-picker {
    display: flex;
    flex-direction: column;
    align-items: center;

    color: white;
    background-color: #897865;
    padding: 1em;

    -webkit-box-shadow: 0px 9px 15px -8px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 9px 15px -8px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 9px 15px -8px rgba(0, 0, 0, 0.75);
}

/* Block that contains the current color */
#color-viewer {
    background-color: white;
    width: 9em;
    height: 3em;
    border-radius: 1em;
    border: 3px solid #897865;
    margin: 0 auto;

}

#color-result {
    height: 95%;
    background-color: #febdc5;
    color: #634e3e;
    border-radius: 0px 3em 3em 0px;
    padding: 1em;
}

#color-preview {
    width: 100%;
    text-align: center;

}

#color-preview .preview-container {
    position: relative;
    margin: 0 auto;

    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: flex-end;

    font-size: x-large;
    font-weight: 900;
    text-align: center;
}

#color-preview .preview-container p {
    margin: 0.5em;

}

#hue-preview {
    display: inline-block;
}

.selector {
    display: block;
    margin: 0em;

    position: relative;
    
    

    width: 2em;
    height: 2em;

    z-index: 100;

    filter: drop-shadow(0 0 0.05rem white);

}

#hue-preview .selector {
    top: 1em;
    left: -0.6em;
}

#viv-preview .selector {
    top: 1em;
    left: -0.3em;
}

#bri-preview .selector {
    top: 1em;
    left: -0.3em;
}



form {
    margin: 1em;
}

#rgb-color {
    font-size: large
}


input[type="text"] {

    background-color: #fbfdef;
    border-radius: 1em;
    font-weight: bold;
    color: #897865;
    padding: 0.5em;
    border: 0ch;
    font-size: large;
    width: 60%;

}

input[type="submit"] {

    background-color: rgb(28, 149, 165);
    border-radius: 1em;
    font-weight: bold;
    color: white;
    padding: 0.5em;
    border: 0ch;
    font-size: large;

}


#color-result {
    /*width: fit-content;*/
    text-align: left;
    font-size: large;
}